aiofiles==0.4.0
aiosqlite==0.11.0
async-lru==1.0.2
Click==7.0
gunicorn==20.0.4
h11==0.9.0
httptools==0.0.13
Jinja2==2.11.1
MarkupSafe==1.1.1
starlette==0.13.1
uvicorn==0.11.2
uvloop==0.14.0
websockets==8.1
