<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">
    <title>Project e13</title>
</head>


<body>
    {% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Project e13</h1>
        <p class="lead">Project e13 is on a mission to make the academic job market more accessible.</p>
        <hr class="my-4">
        <p>By crawling the job postings of various academic institutes and providing them in a centralised location,
            looking for jobs in academia has never been easier.</p>
        <p>If you or your institution is interested in being displayed below, contact me via <a
                href="mailto:shimst3r@gmail.com">email</a>.</p>
        <p>The project team is utilising modern tools for gathering content, mainly <a
                href="https://scrapy.org/">Scrapy</a>, <a href="https://spacy.io/">spaCy</a>, and <a
                href="https://www.starlette.io/">Starlette</a>. We are deeply grateful for open source!</p>
    </div>
    <div class="container">
        <form action="/results">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">🔍</span>
                </div>
                <input type="text" class="form-control" id="search-keyword" name="search_keyword" placeholder="Keyword"
                    aria-label="Search Keyword" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
        <div class="row row-cols-2">
            {% for postings_id, title, superior, institution, deadline in postings %}
            <div class='col-6'>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ title }}</h5>
                        <h6 class="card_subtitle text-muted">{{ institution }}</h6>
                        <p class="card-text">{{ superior }}<br>
                            Deadline: {{ deadline }}</p>
                        <a href="{{ url_for('documents', postings_id=postings_id) }}" class="btn btn-primary">Download
                            PDF</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>

</html>